.logo-img {
  height: 34px; 
  width: auto;
}
.bienvenida-text {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  gap: 6px;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(40, 65, 202, 0.9);  
  padding-right: 12px;
  white-space: nowrap;
}
.bienvenida-icon {
  font-size: 20px;
 
  color: #ffffff; 
}

ion-menu[side="bottom"] {
  height: auto;
  max-height: 275px;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}