.logo-img {
  height: 34px; 
  width: auto;
}
.bienvenida {  
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  font-weight: 500;
  color:  white;
}
ion-menu[side="bottom"] {
  height: auto;
  max-height: 300px;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}