<ion-header>
  <ion-toolbar color="dark">

    <!-- Botón menú principal solo si hay sesión -->
    <ion-buttons slot="start" *ngIf="usuarioLogeado">
      <ion-button fill="clear" (click)="abrirMenuLateral()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Logo -->
    <ion-buttons slot="start">
      <img src="assets/img/logo.png" alt="Logo" class="logo-img" />
    </ion-buttons>

    <!-- Usuario logeado -->
    <ion-buttons slot="end" *ngIf="usuarioLogeado; else loginButton">
      <ion-text color="light" class="bienvenida-text">
        Bienvenido, {{ nombreUsuario }}
      </ion-text>
      <ion-button (click)="cerrarSesion()" fill="clear" color="light">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Si NO está logeado -->
    <ng-template #loginButton>
      <ion-buttons slot="end">
        <ion-button (click)="irALogin()" fill="clear" color="light">
          Iniciar sesión
        </ion-button>
      </ion-buttons>
    </ng-template>
    
  </ion-toolbar>
</ion-header>
