<!-- Encabezado -->
<ion-content [fullscreen]="true">
  <div class="logo-container">
    <img src="assets/img/logo.png" alt="Logo" class="logo-img" />
  </div>

  <ion-text class="eslogan">
    <h2>Tu estilo, nuestra comunidad</h2>
  </ion-text>

  <form [formGroup]="formLogin" (ngSubmit)="login()">
    <!-- Correo -->
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" formControlName="correo"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="formLogin.get('correo')?.touched && formLogin.get('correo')?.hasError('required')">
      Este campo es obligatorio
    </ion-note>
    <ion-note color="danger" *ngIf="formLogin.get('correo')?.hasError('email')">
      Debes ingresar un correo válido
    </ion-note>

    <!-- Contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="formLogin.get('password')?.touched && formLogin.get('password')?.hasError('required')">
      La contraseña es obligatoria
    </ion-note>
    <ion-note color="danger" *ngIf="formLogin.get('password')?.hasError('minlength')">
      Mínimo 4 caracteres
    </ion-note>

    <!-- Botón iniciar sesión -->
    <ion-button class="btn-login" expand="block" type="submit" [disabled]="formLogin.invalid">
      Iniciar sesión
    </ion-button>    
    </form>

  <!-- Enlace a registro -->
  <div class="register-text">
    <ion-text>¿No tienes una cuenta?</ion-text>
    <a (click)="irARegistro()">Regístrate</a>
  </div>

  <!-- Animación -->
  <div class="littie-wrapper">
    <lottie-player src="../assets/comunidad.json" background="transparent" speed="1" loop autoplay>
    </lottie-player>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title size="small" class="ion-text-center">
      Copyright © ReVístete 2025
    </ion-title>
  </ion-toolbar>
</ion-footer>

