<ion-menu side="start" menuId="menuLateral" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen="false" class="menu-content" [scrollY]="false">
  <div class="menu-wrapper">
    <ion-list>
      <ion-item button class="menu-item-1" (click)="irA('/home')">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>

      <ion-item button class="menu-item-2" (click)="irA('/mi-cuenta')">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>Mi Cuenta</ion-label>
      </ion-item>
    </ion-list>

    <!-- Botón cerrar sesión abajo -->
    <div class="cerrar-sesion">
      <ion-item button (click)="cerrarSesion()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
</ion-menu>

<!-- contenido -->
<ion-router-outlet id="main-content"></ion-router-outlet>
