  <!-- Encabezado -->
<app-header [nombreUsuario]="nombreUsuario"></app-header>  

<ion-content class="ion-padding">
  <ion-card class="card-n-prenda">
    <ion-card-header>
      <ion-card-title>Nueva Prenda</ion-card-title>
    </ion-card-header>
    <ion-card-content>

   
      <!-- Cargar Imagen -->
      <ion-item>
        <ion-label>Foto</ion-label>
        <input type="file" (change)="cargarImagen($event)" accept="image/*" />
      </ion-item>

      <!-- Mostrar vista previa si existe -->
      <ion-item *ngIf="nuevaPrenda.imagen">
        <ion-img [src]="nuevaPrenda.imagen"></ion-img>
      </ion-item>


      <!-- Título -->
      <ion-item>
        <ion-label position="floating">Título</ion-label>
        <ion-input [(ngModel)]="nuevaPrenda.titulo" type="text"></ion-input>
      </ion-item>

      <!-- Descripción -->
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="nuevaPrenda.descripcion"></ion-textarea>
      </ion-item>

      <!-- Categoría -->
      <ion-item>
        <ion-label>Categoría</ion-label>
        <ion-select [(ngModel)]="nuevaPrenda.tipo">
          <ion-select-option value="Polera">Polera</ion-select-option>
          <ion-select-option value="Pantalón">Pantalón</ion-select-option>
          <ion-select-option value="Vestido">Vestido</ion-select-option>
          <ion-select-option value="Chaqueta">Chaqueta</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Estado -->
      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select [(ngModel)]="nuevaPrenda.estado">
          <ion-select-option value="Nuevo">Nuevo</ion-select-option>
          <ion-select-option value="Como nueva">Como nueva</ion-select-option>
          <ion-select-option value="Usado">Usado</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Talla -->
      <ion-item>
        <ion-label>Talla</ion-label>
        <ion-select [(ngModel)]="nuevaPrenda.talla">
          <ion-select-option value="S">S</ion-select-option>
          <ion-select-option value="M">M</ion-select-option>
          <ion-select-option value="L">L</ion-select-option>
          <ion-select-option value="XL">XL</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Ubicación -->
      <ion-item>
        <ion-label>Ubicación</ion-label>
        <ion-select [(ngModel)]="nuevaPrenda.ubicacion">
          <ion-select-option value="Santiago">Santiago</ion-select-option>
          <ion-select-option value="Valparaíso">Valparaíso</ion-select-option>
          <ion-select-option value="Concepción">Concepción</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Precio -->
      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input [(ngModel)]="nuevaPrenda.precio" type="number"></ion-input>
      </ion-item>

      <!-- Botón -->
      <ion-button expand="block" class="ion-margin-top" (click)="publicarPrenda()">
        Publicar Prenda
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title size="small" class="ion-text-center">
      Copyright © ReVístete 2025
    </ion-title>
  </ion-toolbar>
</ion-footer>
