.card-n-prenda {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 16px 0;
  padding: 10px;

  ion-card-header {
    border-left: 2px solid #a3b5fd;
    border-right: 2px solid #a3b5fd;
    border-top: 2px solid #a3b5fd;      
    border-radius: 12px 12px 0px 0px;
  }

  ion-card-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #e49aab;
  }

  ion-card-subtitle {    
    margin-top: 10px;
    font-size: 1rem;
    color: #666;
  }

  ion-card-content {
    border-bottom: 2px solid #a3b5fd;
    border-left: 2px solid #a3b5fd;
    border-right: 2px solid #a3b5fd;
    border-radius: 0px 0px 12px 12px;
    font-size: 1rem;
    color: #333;
  }
 ion-item {  
  --border-color: var(--ion-color-medium);
  --inner-padding-end: 12px;
  --padding-start: 12px;
  --padding-top: 8px;
  --padding-bottom: 8px;  
  font-size: 15px;

  ion-label {
    color: var(--ion-color-medium-shade);
    font-size: 14px;
  }

  ion-input,
  ion-textarea {
    font-size: 15px;
    color: #666;
  }
} 
}
.select-fake {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-top: 12px;

  ion-label {
    font-size: 20px;
    margin-bottom: 8px;
    
  }

  .select-box {
    box-sizing: border-box;
    width: 100%;    
    border-radius: 8px;
    padding: 8px;
    background: var(--ion-color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .selected-option {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: white;
  }
}

.options-box-wrapper {
  position: relative;  
  z-index: 999;
  margin-top: -4px;
  margin-bottom: 12px;
}

.options-box { 
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  border: 1px solid var(--ion-color-primary);
  border-top: none;
  border-radius: 0 0 8px 8px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease-in-out;
}

.option { 
  padding: 10px 12px;
  font-size: 14px;
  color: var(--ion-color-dark);
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s ease;
}

.option:hover {
  background: var(--ion-color-light-shade);
}

.option.selected {
  background: var(--ion-color-medium);
  color: #fff;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
