.card-n-prenda {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 16px 0;
  padding: 10px;

  ion-card-header {
    border-left: 2px solid #a3b5fd;
    border-right: 2px solid #a3b5fd;
    border-top: 2px solid #a3b5fd;      
    border-radius: 12px 12px 0px 0px;
  }

  ion-card-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #e49aab;
  }

  ion-card-subtitle {    
    margin-top: 10px;
    font-size: 1rem;
    color: #666;
  }

  ion-card-content {
    border-bottom: 2px solid #a3b5fd;
    border-left: 2px solid #a3b5fd;
    border-right: 2px solid #a3b5fd;
    border-radius: 0px 0px 12px 12px;
    font-size: 1rem;
    color: #333;
  }
}