.fondo-registro {
  background-color: #fdfdfd;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
  color: #e49aab;
}

.subtitulo {
  margin-bottom: 20px;
  color: #666;
}

.full-width {
  width: 100%;
}

.boton-personalizado {
  background-color: #b3eef6; /* Verde, por ejemplo */
  color: black;
  width: 100%;
  margin-top: 20px;
}
